.circle {
    background-color: var(--dark-blue);
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: none;
    font-family: 'Overpass', sans-serif;
    font-weight: 700;
    font-size: larger;
    color: var(--light-blue);
    transition: background-color 0.5 ease;
}

.circle:hover {
    background-color: var(--orange);
    color: var(--white);
}

.circle:focus {
    background-color: var(--medium-grey);
    color: var(--white);
}