.circle {
    background-color:  hsl(213, 19%, 18%);
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: none;
    font-family: 'Overpass', sans-serif;
    font-weight: 700;
    font-size: larger;
    color: hsl(217, 12%, 63%);
    transition: background-color 0.5 ease;
}

.circle:hover {
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
}

.circle:focus {
    background-color: hsl(216, 12%, 54%);
    color: hsl(0, 0%, 100%);
}