@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: hsl(215.3,21%,15.9%);
  width: 450px;
  height: 450px;
  border-radius: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row-wrap {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column; 
  justify-content: space-between;
}

h1 {
  text-align: left;
  font-family: 'Overpass', sans-serif;
  font-weight: 700;
}

p {
  text-align: left;
  font-family: 'Overpass', sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: hsl(217, 12%, 63%);
}

@media screen and (max-width: 375px) { 
  .container {
    width: 350px;
    border-radius: 1.2rem;
  }

  .row-wrap {
    width: 85%;
    height: 85%;
  }
}