@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  text-align: left;
  font-family: 'Overpass', sans-serif;
  font-weight: 700;
}

p {
  text-align: left;
  font-family: 'Overpass', sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: var(--light-grey);
}
