:root {
  line-height: 1.5;
  font-weight: 400;
  color: hsl(0, 0%, 100%);
  background-color: hsl(216, 12%, 8%);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}